Repository swiftlang/swift-foundation, pull requests merged in 2025-05, with the labels that each got.

#1244 Markdown List Delimiters
  Proposals/0025-markdown-list-delimiters.md
Labels: proposal

#1277 Switch to a safer technique for obtaining the working directory on Windows
  Sources/FoundationEssentials/FileManager/FileManager+Directories.swift
  Sources/FoundationEssentials/WinSDK+Extensions.swift
Labels: windows

#1291 Locale.preferredLocales
  Proposals/0026-preferredLocales.md
Labels: proposal, abbreviated review
